<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="http://swcarpentry.github.io/shell-novice/"><b>The Unix Shell</b></a></td></tr>
    <table>
      <tr> <td>10:00</td>  <td>Welcome and workshop introductions</td> </tr>
      <tr> <td>10:30</td>  <td>Introduction to shell</td> </tr>
      <tr> <td>10:35</td>  <td>Navigating Files and directories</td> </tr>
      <tr> <td>11:05</td>  <td>Coffee</td> </tr>
      <tr> <td>11:15</td>  <td>Working With Files and Directories</td> </tr>
      <tr> <td>11:15</td>  <td>Pipes and filters</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Loops</td> </tr>
      <tr> <td>13:45</td>  <td>Writing scripts</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr><td>Mid-Afternoon</td> <td> <a href="http://swcarpentry.github.io/git-novice/"><b>Version Control with Git</b></a></td></tr>
      <tr> <td>14:45</td>  <td>Automated version control with Git</td> </tr>
      <tr> <td>14:50</td>  <td>Setting up git</td> </tr>
      <tr> <td>14:55</td>  <td>Creating a repository</td> </tr>
      <tr> <td>15:05</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>15:25</td>  <td>Exploring history</td> </tr>
      <tr> <td>15:50</td>  <td>Ignoring things</td> </tr>
      <tr> <td>15:55</td>  <td>Coffee/td> </tr>
      <tr><td>Late-Afternoon</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/00-before-we-start.html"><b>Before we start</b></a></td></tr>
      <tr> <td>16:05</td>  <td>What is R and Rstudio/td> </tr>
      <tr><td>Late-Afternoon</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/01-intro-to-r.html"><b>Introduction to R</b></a></td></tr>
      <tr> <td>16:20</td>  <td>Introduction to R/td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up and feedback/td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
        </table>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/wrangling-genomics/"><b>Data wrangling and processing</b></a></td></tr>
    <table>
      <tr> <td>10:00</td>  <td>Introduction and logistics</td> </tr>
      <tr> <td>10:15</td>  <td>Introduction to R (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Starting with Data</td> </tr>
      <tr> <td>11:30</td>  <td>Break</td> </tr>
      <tr> <td>11:45</td>  <td>Manipulating data frames</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch</td> </tr>
      <tr> <td>13:45</td>  <td>Visualization</td> </tr>
      <tr> <td>15:05</td>  <td>Break</td> </tr>
      <tr> <td>15:20</td>  <td>Functions</td> </tr>
      <tr> <td>15:50</td>  <td>Analyzing multiple data sets</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up and feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
        </table>
    </table>
  </div>
</div>
